/*RESET STYLES */

*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

/* STYLES */

.content {
	display: grid;
	grid: 168px 880px / 252px 1016px;
	grid-template-areas: "nav header" "nav main";
	height: 860px;
	width: 1780x;
}

.navbar-child > img, #search-icon {
  width: 20px;
  height: 20px;
  color: white;
}

.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.profile-pic:first-of-type {
  margin-left: 50px;
  margin-bottom: 30px;
}

header {
	grid-area: header;
	display: grid;
	grid-template-columns: 724px 278px;
}


main {
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr 1fr 1.0fr;
	column-gap: 20px;
	background: #F0F1E9;
	padding-left: 18px;
}



.project-card {
  height: 228px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
}

.announcements {
  height: 344px;
}

.trending {
  height: 316px;
}


nav {
	height: 1048px;
	background: #1992d4;
}

header {
  background: #fd3076;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}

a:visited {
  color: white;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.navbar-child {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.navbar-child > img, .search-div > img {
  display: flex;
  align-items: center;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(56deg) brightness(116%) contrast(107%);
  margin-right: 20px;
}

nav > * {
  margin-left: 20px;
}

nav > p {
  color: white;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 40px;
}

input[type="text"]{
  width: 80%;
  margin: 0px 20px 0px -10px;
  border-radius: 20px;
}



#search-icon {
  height: 26px;
  width: 26px;
}






/*7FDCFE lightblue
FD3076 pinkyred
F0F1E9 eggshellish
7BDDAB  minty
8DD4BD lighterblue*/