/*RESET STYLES */

*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

/* STYLES */

* {
  font-family: Montserrat, sans-serif;
}


.content {
	display: grid;
	grid: 20vh 100vh / 0.18fr 0.82fr;
	grid-template-areas: "nav header" "nav main";
	
}

.navbar-child > img, #search-icon, .profile-div > img:first-of-type {
  width: 24px;
  height: auto;
  
  
}

.profile-div {
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-top: 22px;
  justify-content: flex-end;
  margin-right: 2vw;
  
}

.profile-div > img:last-of-type {
  width: 40px;
  height: auto;
  margin-right: 24px;
  margin-left: 10px;
  border: 1px solid black;
}

.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  box-shadow: 1px 3px rgba(0, 0, 0, 0.2);
}

.profile-pic:first-of-type {
  margin-left: 50px;
  margin-bottom: 30px;
}

input[type=button] {
  background-color: #1992d4;
  border-radius: 14px;
  width: 92px;
  border: 2px solid black;
  height: 38px;
  margin-left: 40px;
}

input[type=button]:last-of-type {
  margin-right: 2vw;
}

header {
	background: #fd3076;
  grid-area: header;
	display: grid;
	grid-template-columns: 45vw 1fr;
}


main {
	grid-area: main;
	display: grid;
	grid-template-columns: 0.4fr 0.4fr 0.2fr;
	column-gap: 20px;
	background: #D3E6DE;
	padding-left: 18px;
  padding-right: 32px;
}

.greeting-div {
  display: flex;
  margin-top: 20px;
}

.greeting-div > img {
  margin-right: 18px;
  border: 2px solid black;
}

.greeting-div > div {
  margin-top: 10px;
}

.greeting-div > div > p {
  color: black;
  font-size: 0.75rem;
  font-weight: bold;
}

.greeting-div > div > p:last-of-type {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

.menu {
  margin-top: 42px;
  display: flex;
  justify-content: flex-end;
}

.projects {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

}

.projects-h3 {
  margin-top: -20px;
  margin-bottom: 10px;
}

.projects2 > h3 {
  color: #d3e6de;
}

.project-card {
  height: 190px;
  border-left: 7px solid #FD3076;
  border-radius: 14px;
  padding: 30px;
  margin-bottom: 20px;
  font-size: 0.85rem;
  background-color: #FFFF99;
  
}

.project-card > p {
  font-size: 0.865rem;
  font-weight: 400;
  line-height: 0.9rem;
}

.announcements {
  height: 320px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 14px;
  background-color: #FFFF99;
  color: black;
  
}

.announcements-trending {
  margin-top: 30px;
}

.announcement {
  font-size: 0.65rem;
  height: 100px;
  padding-top: 10px;
  
}

.announcement-card {
  
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  
  
}

hr {
  color: whitesmoke;
}

.trending {
  height: 316px;
}


nav {
	height: 120vh;
	background: #1992d4;
}




a:visited {
  color: whitesmoke;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.navbar-child {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 38px;

}

.navbar-child > img, .search-div > img, .profile-div > img:first-of-type {
  display: flex;
  align-items: center;
  margin-right: 20px;
  
}

nav > * {
  margin-left: 20px;
}

nav > div:first-of-type {
  color: white;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 40px;
}

.dashboard-icon-text > img {
  width: 36px;
  height: auto;
  margin-right: 20px;
}

.dashboard-icon-text {
  margin-bottom: 20px;
  margin-top: 18px;
  display: flex;
}

.invert-color {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(56deg) brightness(116%) contrast(107%);
}

input[type="text"]{
  width: 68%;
  margin: 0px 70px 0px -10px;
  border-radius: 14px;
}

input[type="text"]{
  width: 68%;
  margin: 0px 70px 0px -10px;
  border-radius: 14px;
  border: none;
  padding-left: 16px;
}

input[type="text"]:focus-visible{
  outline: 2px solid black;
  border: none;
  
}
#search-icon {
  height: 26px;
  width: 26px;
}

.trending-card {
  background-color: #FFFF99;
  padding: 16px;
  padding-top: 20px;
  border-radius: 14px;
  padding-bottom: 2px;
}
.trending-image {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 5px;
}

.trending-item {
  display: flex;
  margin-bottom: 25px;
}

.trending-item:last-of-type {
  margin-bottom: 15px;
}

.trending-item > div > p {
  font-weight: bold;
  font-size: 0.7rem;
}

.trending-item > div > p:last-of-type {
  font-weight: normal;
  font-size: 0.65rem;
}

.trending > h3 {
  margin-bottom: 10px;
}

@media only screen and (max-width: 1040px) {
  .profile-div {
    margin-right: 15vw;
  }

  input[type=button] {
    margin-left:0.9vw;
  }
}

/*FD3076
1992D4
00D9FE
D3E6DE
EDF4CC*/